<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Name</key>
			<string>主公</string>
			<key>Type</key>
			<string>身份</string>
			<key>Info</key>
			<string>遊戲目標：消滅所有的反賊和內奸，平定天下。</string>
			<key>Detail</key>
			<string>主公的目標為盡量保證忠臣存活的情況下全滅反賊和內奸。具體到行動就是保證本身防禦並壓制全場，在行動過程中一定要分散反賊火力，當然尺度是關鍵，要以保證自己生存為首要任務，盡量讓反賊火力分散產生內部混亂。</string>
			<key>Qa</key>
			<string>暫無</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>忠臣</string>
			<key>Type</key>
			<string>身份</string>
			<key>Info</key>
			<string>遊戲目標：不惜一切保護主公，勝利條件與主公相同。</string>
			<key>Detail</key>
			<string>作為忠臣要明白一個活忠的威懾價值大於和反賊以命換命，忠臣是主公的屏障，是主公控制局勢的武器和籌碼，得局勢者得天下，而忠臣就是局勢天平的指針。</string>
			<key>Qa</key>
			<string>暫無</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>反賊</string>
			<key>Type</key>
			<string>身份</string>
			<key>Info</key>
			<string>遊戲目標：殺死主公，推翻統治。</string>
			<key>Detail</key>
			<string>反賊是最簡單也是最糾結的角色，說簡單是因為任務很簡單只要殺到一個叫做主公的傢伙就可以了，說糾結是因為反賊人數眾多，大家思路開闊難以統一。配合方面需要注意的是，不能總想著讓別人配合你，要想想怎麼才能讓別人理解你的想法，配合來自充分的思考而非心有靈犀。</string>
			<key>Qa</key>
			<string>暫無</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>內奸</string>
			<key>Type</key>
			<string>身份</string>
			<key>Info</key>
			<string>遊戲目標：除掉除自己外所有的人，成為最後的生還者。</string>
			<key>Detail</key>
			<string>如果說局勢是天平，忠臣是指針，那麼內奸就是游碼。內奸以身份的特殊，獲勝的難度和獲勝後的超強成就感一直深受大家喜愛。內奸打法多樣，戰術靈活，成功的內奸=正確的戰術+冷靜的頭腦+強悍的人品。</string>
			<key>Qa</key>
			<string>暫無</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Name</key>
			<string>殺</string>
			<key>Type</key>
			<string>基本</string>
			<key>Info</key>
			<string>數量：30張
花色：♦ 6、♦ 7、♦ 8            ♦ 9、♦ 10、♦ K
           ♠ 7、♠ 8*2、♠ 9*2、♠ 10*2
           ♥ 10*2、♥ J
           ♣ 2、♣ 3、♣ 4、♣ 5            ♣ 6、♣ 7、♣ 8*2            ♣ 9*2、♣ 10*2、♣ J*2</string>
			<key>Detail</key>
			<string>出牌時機：出牌階段。
使用目標：除你外，你攻擊範圍內的一名角色。
作用效果：【殺】對目標角色造成1點傷害。

★遊戲初始攻擊範圍是1 。
★每個出牌階段你只能使用一張【殺】。
★響應錦囊牌「借刀殺人」時，可使用殺。

★響應錦囊牌「決鬥」時，可打出殺。
★響應錦囊牌「南蠻入侵」時，可打出殺。
★響應武將技能 「如劉備激將」時，可使用或打出殺。</string>
			<key>Qa</key>
			<string>[Q]能否對自己使用【殺】？
[A]不能。

[Q]普殺與火殺、雷殺有什麼區別？
[A]在作為響應錦囊結算打出時，所有的殺都具有同樣的效果，例如在結算南蠻入侵或者決鬥時。但在使用殺造成傷害時，火殺與雷殺分別能造成火焰和雷電傷害。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>閃</string>
			<key>Type</key>
			<string>基本</string>
			<key>Info</key>
			<string>數量：15張
花色：♦ 2*2、♦ 3、♦ 4            ♦ 5、♦ 6、♦ 7、♦ 8            ♦ 9、♦ 10、♦ J*2
           ♥ 2*2、♥ K</string>
			<key>Detail</key>
			<string>出牌時機：以你為目標的【殺】開始結算時。
使用目標：以你為目標的【殺】。
作用效果：抵消目標【殺】的效果。

★閃通常情況下只能在回合外使用或打出。
★響應錦囊「萬箭齊發」時，可打出閃。
★響應武將技能 「如曹操護駕」 時，可打出閃。</string>
			<key>Qa</key>
			<string>[Q]能否主動打出或使用【閃】？
[A]不能，【閃】只能用來響應【殺】、某些錦囊或者相關的武將技。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>桃</string>
			<key>Type</key>
			<string>基本</string>
			<key>Info</key>
			<string>數量：8張
花色：♥ 3、♥ 4、♥ 6、♥ 7            ♥ 8、♥ 9、♥ Q
           ♦ Q</string>
			<key>Detail</key>
			<string>出牌時機：1、出牌階段。2、有角色處於瀕死狀態時。
使用目標：1、你。2、處於瀕死狀態的一名角色。
作用效果：目標角色回復1點體力。

★例如，一名角色的剩餘體力為2點，此時受到【閃電】造成的3點傷害，此時該角色處於瀕死狀態，該角色或其他任何人合計需使用2張【桃】才能救回（2－3＋2＝1）。
★出牌階段，若你沒有損失體力，你不可以對自己使用【桃】。</string>
			<key>Qa</key>
			<string>[Q]對瀕死的角色使用【桃】，瀕死的角色是否可以拒絕？
[A]不可以。

[Q]對瀕死的角色使用【桃】，順序是怎樣的？
[A]按照行動順序，從當前回合角色開始依次決定是否使用【桃】，若在輪到瀕死的角色前沒有人使用【桃】，則瀕死的角色可自己使用【桃】。但是瀕死的角色一旦在輪到自己時放棄了使用【桃】的機會，則不能在等待沒有角色對自己出【桃】後再對自己使用【桃】。

例如：ABCDE5個角色（按行動順序排列），當前回合角色A對D造成1點傷害，D進入瀕死狀態，此時從A開始依次決定是否使用【桃】，當A,B,C都不使用【桃】時，D可以對自己使用【桃】。如果D自己不使用【桃】，則在E也決定不使用【桃】後，D死亡。

[Q]一名角色一次受到多點的傷害，使得體力值小於0，如何結算？
[A]需要求多個【桃】直到體力值回復到1點為止，否則該角色仍然死亡。

例如：一名角色的剩餘體力為1點，受到【閃電】造成的3點傷害，需要求3張【桃】。每個角色按照行動順序，只有一次機會決定是否使用【桃】。如果只求到2張【桃】，那麼該角色死亡，已經使用的【桃】不能再收回；如果已經求得3張【桃】（即該玩家的體力值已經回復到1），則此時任何玩家不可再對該角色使用【桃】，瀕死狀態結算完畢。

[Q]一名角色一次受到多點的傷害，使得體力值小於0，需要求多張【桃】，每個出【桃】玩家應該連續使用幾張【桃】還是同時使用幾張【桃】？
[A]應該連續使用幾張【桃】。

例如：一名角色的剩餘體力為1點，受到【閃電】造成的3點傷害，需要求3張【桃】。陸遜有1張手牌為【桃】，則陸遜可以對該角色使用這張【桃】，並馬上發動【連營】技能，如果摸起的牌還是【桃】，陸遜可以馬上再使用這張【桃】並繼續發動【連營】技能，直到摸起的牌不是【桃】或者陸遜不想再使用【桃】為止。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>酒</string>
			<key>Type</key>
			<string>基本</string>
			<key>Info</key>
			<string>數量：5張
花色：♦ 9
           ♠ 3、♠ 9
           ♣ 3、♣ 9</string>
			<key>Detail</key>
			<string>使用目標：自己
作用效果：1、出牌階段，對自己使用，令自己的下一張使用的【殺】造成的傷害+1（每回合限使用1次）；
2、任何時候，當自己進入瀕死階段時，對自己使用，立即回復1點體力值。</string>
			<key>Qa</key>
			<string>[Q]其他角色進入瀕死狀態時，能否用【酒】救援？
[A]不能。酒的自救效果僅對自己有效。

[Q]使用【酒】之後，能否使決鬥造成的傷害+1？
[A]不能。酒的傷害效果僅對殺的結算過程有效。類似地，南蠻入侵、萬箭齊發、火攻等等均不受酒的效果影響。

[Q]在自己回合內，當自己進入瀕死狀態使用【酒】救活後，使用的殺是否造成+1傷害？
[A]否。酒的傷害效果與酒的自救效果互相獨立。

[Q]在自己回合內，當自己進入瀕死狀態使用【酒】救活，能否繼續使用【酒】然後出殺？
[A]可以。

[Q]發動【酒】的傷害效果時，是否須在使用【酒】之後立即出【殺】？
[A]否，使用【酒】之後在這一個回合內均有效。 

[Q]使用【酒】之後裝備了【諸葛連弩】或者張飛的【咆哮】技能連續出【殺】，是否每一張殺的傷害均+1？
[A]否，【酒】只對第一張【殺】有效。如果要求對後面打出的殺發動酒的傷害效果，則必須在那張【殺】使用前對自己使用【酒】。

[Q]使用了【酒】之後沒有出殺，那麼下一個回合時自己所出的【殺】是否傷害+1？
[A]否，酒的傷害效果僅在當回合有效。 

[Q]使用了【酒】之後，能否選擇不發動酒的傷害效果？
[A]不能，酒的傷害效果是強制生效的，即使造成傷害的並非你最初的攻擊目標。 

[Q]在進入瀕死狀態時，能否使用2張或2張以上的【酒】或者同時使用【酒】和【桃】？
[A]可以。

[Q]甘寧發動【奇襲】時用黑色【酒】當【過河拆橋】之後，能否再使用【酒】？
[A]可以，類似地，甄姬、大喬、小喬、貂蟬等角色在發動各自武將技時，均可以把【酒】作為武將技能的消耗，然後再使用【酒】。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>火殺</string>
			<key>Type</key>
			<string>基本</string>
			<key>Info</key>
			<string>數量：5張
花色：♦ 4、♦ 5
           ♥ 4、♥ 7、♥ 10 </string>
			<key>Detail</key>
			<string>這張殺所造成的傷害為火焰傷害。
出牌時機：出牌階段。
使用目標：除你外，你攻擊範圍內的一名角色。
作用效果：【殺】對目標角色造成1點傷害。

★遊戲開始時你的攻擊範圍是1。
★每個出牌階段你只能使用一張殺。</string>
			<key>Qa</key>
			<string>[Q]能否對自己使用【殺】？
[A]不能。

[Q]普殺與火殺有什麼區別？
[A]在作為響應錦囊結算打出時，所有的殺都具有同樣的效果，例如在結算南蠻入侵或者決鬥時。但在使用殺造成傷害時，火殺能造成火焰傷害。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>雷殺</string>
			<key>Type</key>
			<string>基本</string>
			<key>Info</key>
			<string>數量：9張
花色：♠ 4、♠ 5、♠ 6、♠ 7、♠ 8
           ♣ 5、♣ 6、♣ 7、♣ 8 </string>
			<key>Detail</key>
			<string>這張殺所造成的傷害為雷電傷害。
出牌時機：出牌階段。
使用目標：除你外，你攻擊範圍內的一名角色。
作用效果：【殺】對目標角色造成1點傷害。

★遊戲開始時你的攻擊範圍是1。
★每個出牌階段你只能使用一張殺。</string>
			<key>Qa</key>
			<string>[Q]能否對自己使用【殺】？
[A]不能。

[Q]普殺與雷殺有什麼區別？
[A]在作為響應錦囊結算打出時，所有的殺都具有同樣的效果，例如在結算南蠻入侵或者決鬥時。但在使用殺造成傷害時，雷殺能造成雷電傷害。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Name</key>
			<string>樂不思蜀</string>
			<key>Type</key>
			<string>錦囊</string>
			<key>Info</key>
			<string>數量：3張
花色：♣ 6  ♥ 6  ♠ 6</string>
			<key>Detail</key>
			<string>出牌時機：出牌階段。
使用目標：除你以外，任意一名角色。
作用效果：將【樂不思蜀】橫置於目標角色判定區裡，目標角色回合判定階段，進行判定；若判定結果不為紅桃，則跳過目標角色的出牌結算，將【樂不思蜀】棄置。

★如判定結果為紅桃，則沒有事發生。
★【樂不思蜀】在結算後都將被棄置。</string>
			<key>Qa</key>
			<string>[Q]是否可以在同一角色面前放置多個【樂不思蜀】? 
[A]不可以。

[Q]使用【樂不思蜀】時，是否可以在【樂不思蜀】使用時立刻對【樂不思蜀】使用【無懈可擊】？
[A]不可以。要對延時錦囊使用【無懈可擊】，必須在被延時類錦囊影響的角色在自己回合的判定階段翻開判定牌之前使用。

[Q]【樂不思蜀】的判定牌翻開後，還是否可以對【樂不思蜀】使用【無懈可擊】？
[A]不可以。翻開判定牌時延時類錦囊就已經生效，不能再對其使用【無懈可擊】。

[Q]是否可以對自己使用【樂不思蜀】？
[A]不可以。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>借刀殺人</string>
			<key>Type</key>
			<string>錦囊</string>
			<key>Info</key>
			<string>數量：2張
花色：♣ Q、♣ K</string>
			<key>Detail</key>
			<string>出牌時機：出牌階段。
使用目標：除你以外，裝備區裡有武器牌的一名角色A。（你需要在此階段選擇另一個A使用【殺】能攻擊到的角色B）。
作用效果：A需對B使用一張【殺】，否則A必須將其裝備的武器牌交給你。

★A使用【殺】時，角色技能和武器技能可以照常發動。</string>
			<key>Qa</key>
			<string>[Q]使用【借刀殺人】時，具體如何操作？
[A]首先場上除使用者外，至少有一名角色的裝備區裡有武器牌，才能使用【借刀殺人】。使用【借刀殺人】時，先指定錦囊的目標（一名有武器的角色），再指定一個殺的目標（目標角色能夠進行攻擊的另一名角色）。此時如果沒有人使用【無懈可擊】，則執行錦囊的效果。

[Q]使用【借刀殺人】時，是否必須指定【殺】的對象？
[A]必須指定。

[Q]使用【借刀殺人】時，是否可以讓被借刀者殺錦囊使用者？
[A]可以。

[Q]使用【借刀殺人】時，是否可以要求被借刀者對其自己使用【殺】？
[A]不可以。

[Q]使用【借刀殺人】時，如果獲得了被借刀者的武器，是否需要立即裝備？
[A]不需要，先歸入手牌。

[Q]使用【借刀殺人】時，哪些武器的技能可以發動？
[A]除了【諸葛連弩】以外的武器，都可照常發動技能，因為【諸葛連弩】的技能發動條件限定為出牌階段。為鎖定技的武器技能必須發動；可選擇性發動的武器技能由被借刀者選擇是否發動。

例如：青龍偃月刀的連續殺，或者貫石斧的強制命中，都由被借刀的人發動。類似的，A對B使用【借刀殺人】指定殺C，那麼B發動方天畫戟的特效可以指定ACD為目標。

[Q]使用【借刀殺人】時，是否可以指定沒有裝備【青釭劍】的被借刀者對裝備了【仁王盾】的角色使用黑色的【殺】?
[A]可以，如果使用的是黑色的【殺】，那麼【殺】無效。

[Q]使用【借刀殺人】時，如果被借刀者殺死了【殺】的目標角色，獎勵由誰承擔? 
[A]由被借刀的人承擔。如果主公被借刀，出【殺】殺死忠臣，那麼主公棄光所有牌及裝備區裡的牌。

[Q]使用【借刀殺人】時，是否可以指定對方對【空城】狀態下的諸葛亮出【殺】？ 
[A]不能，【空城】狀態下的諸葛亮不能成為【殺】的目標。

[Q]使用【借刀殺人】時，被借刀的角色是否可以發動自己的武將技?
[A]可以發動的武將技必須是在回合外也可發動的技能。

例如：趙雲能發動【龍膽】，關羽能發動【武聖】，馬超可以發動【鐵騎】，張飛不能發動【咆哮】，黃忠不能發動【烈弓】。

[Q]對神關羽使用【借刀殺人】時，神關羽能否打出一張紅桃當【殺】？ 
[A]可以。

[Q]對神關羽使用【借刀殺人】時，能否指定神關羽的武器範圍之外的角色？
[A]不可以。

[Q]對呂布使用【借刀殺人】時，呂布出殺對方需要出幾張【閃】？
[A]2張。【無雙】為鎖定技。

[Q]對魏延使用【借刀殺人】時，魏延能否發動【狂骨】技能？ 
[A]必須發動。

[Q]使用【借刀殺人】時，被借刀的角色使用【殺】攻擊帶有反饋技能的角色成功之後，反饋的對象是誰？
[A]是使用【殺】的角色。（如果是劉備發動【激將】則由劉備承擔）中間如果遇到轉移，則反饋的對象是攻擊的源頭。例如：對甄姬使用【借刀殺人】殺大喬，大喬發動流離給司馬懿。司馬懿受到傷害，那麼反饋的是甄姬的牌。

[Q]一名角色的攻擊範圍內沒有其他角色，是否可以對其使用【借刀殺人】？ 
[A]不可以。

例如：對一個裝備【諸葛連弩】的角色（但沒有裝備-1馬）使用【借刀殺人】，而他的左右兩邊都裝備了+1馬，就不可以對其使用【借刀殺人】，因為不滿足發動條件。

[Q]對做主公的劉備使用【借刀殺人】時，劉備是否可以發動【激將】？
[A]可以。

[Q]對關羽使用【借刀殺人】時，指定關羽對一個與其距離為1以內的的角色使用【殺】，此時關羽是否可以發動【武聖】將裝備的紅色武器當【殺】使用？ 
[A]可以。但另一種情況，即若被指定玩家與關羽距離為1以上（不包括1），則此時關羽不可發動【武聖】將裝備的紅色武器當【殺】使用。

[Q]對一個角色A使用【借刀殺人】時，指定A對諸葛亮使用【殺】，此時諸葛亮只有1張手牌為【無懈可擊】，諸葛亮對【借刀殺人】使用【無懈可擊】，此時諸葛亮以外的玩家又對諸葛亮使用的【無懈可擊】使用了1張【無懈可擊】，此時應該如何結算？
[A]因為諸葛亮在沒有成為【殺】的目標前，已經進入了空城狀態，所以無法再對其使用【殺】。此時，A應該將裝備的武器交給使用【借刀殺人】的角色。

[Q]是否可以對自己使用【借刀殺人】？
[A]不可以。

[Q]使用【借刀殺人】時，能否指定對裝備了【籐甲】的角色使用殺？
[A]可以。但是如果所出的是普殺，該殺無效。

[Q]使用【借刀殺人】時，【古錠刀】的特效是否發動？
[A]鎖定技強制發動。

[Q]使用【借刀殺人】時，【朱雀羽扇】的特效是否發動？
[A]由被借刀的角色自己決定。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>無懈可擊</string>
			<key>Type</key>
			<string>錦囊</string>
			<key>Info</key>
			<string>數量：4張
花色：♦ Q  ♠ J  ♣ Q  ♣ K</string>
			<key>Detail</key>
			<string>出牌時機：目標錦囊對目標角色生效前。
使用目標：目標錦囊。
作用效果：抵消該錦囊對其指定的一名目標角色產生的效果。

★【無懈可擊】是1張可以在其他錦囊開始結算時使用的錦囊，它只能抵消目標錦囊對一名指定角色產生的效果。
★【無懈可擊】本身也是錦囊，所以也可以被抵消。
★當【無懈可擊】抵消【閃電】的效果後，【閃電】不會被棄置，而是繼續傳遞給下家（見【閃電】段落）。</string>
			<key>Qa</key>
			<string>[Q]【無懈可擊】是否只有在自己的出牌階段才能使用？
[A]不是，遊戲中任何階段，只要有角色使用了非延時類錦囊或者在延時類錦囊判定前，都可以對該錦囊牌使用【無懈可擊】

[Q]當錦囊指定超過一名角色為目標時，是否對該錦囊可以使用【無懈可擊】？
[A]可以，但使用1張【無懈可擊】只能抵消目標錦囊對某—名角色的影響。

例如：一名角色對所有其他角色使用【南蠻入侵】，到A角色結算時，任何一名角色都可以在A角色結算時（A尚未出【殺】或者受傷之前）對【南蠻入侵】使用【無懈可擊】，抵消【南蠻入侵】對A角色的影響。

[Q]是否可以在一個錦囊結算過程中使用多張【無懈可擊】？
[A]可以，後面的1張【無懈可擊】視為抵消前面1張【無懈可擊】的效果。例如：某角色對A角色使用【順手牽羊】，B角色對【順手牽羊】使用【無懈可擊】，C角色再對B角色使用的【無懈可擊】使用【無懈可擊】，則B角色使用的第一張【無懈可擊】被C角色使用的第二張【無懈可擊】抵消，A角色仍然受到【順手牽羊】的影響。

[Q]使用【過河拆橋】、【順手牽羊】或者【借刀殺人】等已經獲取了牌時，能否無懈可擊？
[A]不能。錦囊一旦生效，則不可再使用【無懈可擊】。對於無中生有來說，開始摸牌即視為生效；過河拆橋、順手牽羊和五穀豐登來說，指定目標牌時即生效；對決鬥、借刀殺人、南蠻入侵和萬箭齊發來說，出殺（閃）或造成傷害或判定八卦陣或發動【激將】（【護駕】）或使用【酒】或求桃開始即視為生效；對閃電、樂不思蜀和兵糧寸斷來說，翻開判定牌即視為生效；對火攻來說，對方展示手牌即視為生效；對鐵索連環來說，橫置或重置武將牌即視為生效；對桃園結義和無懈可擊來說，使用時立即生效。

[Q]能否使用【無懈可擊】抵消【桃】或者武將技？
[A]不能抵消【桃】，因為這不是錦囊。武將技是否可以被無懈可擊要視情況。例如：甘寧的【奇襲】可以被無懈可擊，但貂蟬的【離間】技能不能被無懈可擊。

[Q]是否可以在沒有人使用錦囊的時候憑空使用【無懈可擊】？
[A]不可以。【無懈可擊】必須用來響應某個錦囊，不能憑空使用。

[Q]無懈可擊是否可以對自己使用？
[A]無懈可擊的對象是目標錦囊，與角色無關。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>桃園結義</string>
			<key>Type</key>
			<string>錦囊</string>
			<key>Info</key>
			<string>數量：1張
花色：♥ A</string>
			<key>Detail</key>
			<string>出牌時機：出牌階段。
使用目標：所有角色。
作用效果：按行動順序結算，目標角色回復1點體力。

★這張牌會讓包括你在內的角色各回復1點體力。</string>
			<key>Qa</key>
			<string>[Q]使用【桃園結義】時，如何結算？
[A]從使用者開始，按照行動順序依次結算。

[Q]使用【桃園結義】時，能否對滿血的人使用無懈可擊？
[A]不能。滿血的角色視為【桃園結義】對其無效。

[Q]場上角色體力全滿時，能否使用【桃園結義】？
[A]可以。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>萬箭齊發</string>
			<key>Type</key>
			<string>錦囊</string>
			<key>Info</key>
			<string>數量：1張
花色：♥ A</string>
			<key>Detail</key>
			<string>出牌時機：出牌階段。
使用目標：除你以外的所有角色。
作用效果：按行動順序結算，除非目標角色打出1張【閃】，否則該角色受到【萬箭齊發】對其造成的1點傷害。

★你必須指定除你以外的所有角色為目標，然後他們依次（從你的下家開始）選擇是否打出【閃】。</string>
			<key>Qa</key>
			<string>[Q]使用【萬箭齊發】時，如何結算？
[A]【萬箭齊發】使用後，按照行動順序，從使用者的下家開始依次打出【閃】。如果有角色不打出【閃】，則立刻結算反饋或者獎勵，瀕死狀態優先結算。即使使用【萬箭齊發】的角色已經死亡，【萬箭齊發】依然要結算到底。類似地，南蠻入侵、桃園結義、五穀豐登、鐵索連環等錦囊處理原則相同。

[Q]在【萬箭齊發】結算時，角色是否可以發動【八卦陣】技能判定出【閃】？
[A]可以。

[Q]如果主公使用【萬箭齊發】殺死忠臣和反賊，如何結算？
[A]按照行動順序結算。如果反賊先死則主公摸3張牌，然後忠臣死亡的話再棄光所有的牌。反之先棄光所有的牌再摸3張牌。

[Q]萬箭齊發是否能造成屬性傷害？
[A]不能。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>決鬥</string>
			<key>Type</key>
			<string>錦囊</string>
			<key>Info</key>
			<string>數量：3張
花色：♦ A  ♠ A  ♣ A</string>
			<key>Detail</key>
			<string>出牌時機：出牌階段。
使用目標：除你以外，任意一名角色。
作用效果：由目標角色先開始，你和他（她）輪流打出一張【殺】，【決鬥】對首先不出【殺】的一方造成1點傷害；另一方成為此傷害的來源。
 
★使用【決鬥】有可能讓自己受傷。
★受到因【決鬥】導致的傷害時，來源為決鬥的獲勝方。</string>
			<key>Qa</key>
			<string>[Q]使用【決鬥】時的傷害來源如何界定？
[A]【決鬥】的獲勝方是傷害來源。
例如：貂蟬發動【離間】指定司馬懿和夏侯惇決鬥，司馬懿受到傷害，那麼【反饋】的對象是夏侯惇。
例如：貂蟬發動【離間】指定主公和忠臣決鬥，如果忠臣死亡，則主公需要棄光所有手牌和裝備。
 
[Q]使用【決鬥】時，在玩家打出【殺】或不能打出【殺】後，是否可以使用【無懈可擊】抵消【決鬥】的效果？
[A]不可以。【無懈可擊】只能在【決鬥】生效前使用，抵消錦囊效果（【決鬥】的一方開始出【殺】或者表態不出【殺】視為【決鬥】生效），【決鬥】一旦生效就不能再抵消。
 
[Q]是否可以對自己使用【決鬥】？
[A]不可以。
 
[Q]使用【決鬥】但尚未開始結算時，如果決鬥的一方已經死亡，另一方是否仍然需要出殺？
[A]需要，否則受到傷害。例如：1點體力值的角色使用【決鬥】，於吉蠱惑【無懈可擊】，質疑後為真然後造成該角色死亡，【無懈可擊】作廢，於吉仍需出殺，否則受到傷害。
 
[Q]決鬥造成的傷害是什麼屬性？
[A]決鬥造成的是普通傷害，無法觸發連環。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>南蠻入侵</string>
			<key>Type</key>
			<string>錦囊</string>
			<key>Info</key>
			<string>數量：3張
花色：♠ 7  ♠ K  ♣ 7</string>
			<key>Detail</key>
			<string>出牌時機：出牌階段。
使用目標：除你以外的所有角色。
作用效果：按行動順序結算，除非目標角色打出1張【殺】，否則該角色受到【南蠻入侵】對其造成的1點傷害。

★你必須指定除你以外的所有角色為目標，然後他們依次（從你的下家開始）選擇是否打出【殺】。</string>
			<key>Qa</key>
			<string>[Q]使用【南蠻入侵】時，如何結算？
[A]【南蠻入侵】使用後，按照行動順序，從使用者的下家開始依次打出【殺】。如果有角色不打出【殺】，則立刻結算反饋或者獎勵，瀕死狀態優先結算。即使使用【南蠻入侵】的角色已經死亡，【南蠻入侵】依然要結算到底。

[Q]在受到【南蠻入侵】的影響時，是否可以發動【丈八蛇矛】的技能來響應？
[A]可以。 

[Q]如果主公使用1張【南蠻入侵】同時殺死忠臣和反賊，如何結算？
[A]按照行動順序結算。如果反賊先死則主公摸3張牌，然後忠臣死亡的話再棄光所有的牌。反之先棄光所有的牌再摸3張牌。

[Q]南蠻入侵是否能造成屬性傷害？
[A]不能。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>無中生有</string>
			<key>Type</key>
			<string>錦囊</string>
			<key>Info</key>
			<string>數量：4張
花色：♥ 7、♥ 8、♥ 9、♥ J</string>
			<key>Detail</key>
			<string>出牌時機：出牌階段。
使用目標：自己。
作用效果：摸兩張牌。</string>
			<key>Qa</key>
			<string>[Q]使用【無中生有】時，【無中生有】是否可以被【無懈可擊】抵消？
[A]可以。在摸牌前，【無中生有】的使用者需詢問是否有人使用【無懈可擊】。如果使用【無中生有】的角色已經摸了2張牌，則任何人不能再使用【無懈可擊】抵消【無中生有】。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>五穀豐登</string>
			<key>Type</key>
			<string>錦囊</string>
			<key>Info</key>
			<string>數量：2張
花色：♥ 3、♥ 4</string>
			<key>Detail</key>
			<string>出牌時機：出牌階段。
使用目標：所有角色。
作用效果：按你從牌堆頂亮出等同於現存角色數量的牌，然後按行動順序結算，目標角色選擇並獲得這些牌中的一張。

★這張牌會讓包括你在內的角色每人各從一定數量的牌裡挑選一張加入手牌。</string>
			<key>Qa</key>
			<string>[Q]使用【五穀豐登】時，現存角色是否可以放棄拿牌？
[A]不可以。

[Q]在【五穀豐登】的結算過程中，如何結算【無懈可擊】？
[A]【五穀豐登】的牌翻出後，每個角色在拿牌之前可以對其使用【無懈可擊】。被【無懈可擊】的角色不能拿牌，最後一個角色拿完牌之後把多餘的牌棄掉。如果一個角色已經拿了牌，就不能再對其使用【無懈可擊】。

[Q]當使用【五穀豐登】時，能否摸到其中的【無懈可擊】然後立刻使用？
[A]可以。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>過河拆橋</string>
			<key>Type</key>
			<string>錦囊</string>
			<key>Info</key>
			<string>數量：6張
花色：♠ 3、♠ 4、♠ Q
           ♥ Q
           ♣ 3、♣ 4</string>
			<key>Detail</key>
			<string>出牌時機：出牌階段。
使用目標：除你以外，任意一名角色。
作用效果：你選擇並棄掉目標角色手牌（隨機選擇）、裝備區或判定區裡的一張牌。

★儘管目標角色判定區裡的牌不屬於他/她，你依然可以令他/她棄置那張牌。</string>
			<key>Qa</key>
			<string>[Q]使用【過河拆橋】時，是否要說明目標角色和要拆掉的牌？
[A]使用【過河拆橋】時，必須指明要對哪個角色使用，但是不可以說出要拆掉的牌是什麼牌。如果沒人使用【無懈可擊】，那麼就可以繼續使用。特別是在角色面前有延時錦囊時，對其使用【過河拆橋】的角色不能提前說出要拆的牌。

例如：在線下遊戲中推薦用此種說法：「對趙雲（使用）【過河拆橋】」或者「【過河拆橋】趙雲」，而不能直接說「【過河拆橋】趙雲的【八卦陣】」

[Q]是否可以對沒有任何手牌、裝備牌或延時錦囊的角色使用【過河拆橋】？
[A]不可以。

[Q]是否可以對自己使用【過河拆橋】？
[A]不可以。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>順手牽羊</string>
			<key>Type</key>
			<string>錦囊</string>
			<key>Info</key>
			<string>數量：5張
花色：♦ 3  ♦ 4  ♠ 3  ♠ 4  ♠ J</string>
			<key>Detail</key>
			<string>出牌時機：出牌階段。
使用目標：除你以外，與你距離1以內的一名角色。
作用效果：你選擇並獲得目標角色手牌（隨機選擇）、裝備區或判定區裡的一張牌。

★使用【順手牽羊】時，注意你裝備區裡的【馬】和目標角色裝備區裡的【馬】。</string>
			<key>Qa</key>
			<string>[Q]使用【順手牽羊】時，距離如何計算？
[A]默認為只能對距離為1以內的角色使用【順手牽羊】，雙方已裝備的馬可以影響【順手牽羊】使用的距離，但是已裝備的武器和防具不能影響【順手牽羊】的使用距離。

[Q]使用【順手牽羊】時，獲得的錦囊或者裝備是否必須立即使用？
[A]不必須，先歸入手牌。

[Q]使用【順手牽羊】時，是否要說明目標角色和要牽的牌？ 
[A]使用【順手牽羊】時，必須指明要對哪個角色使用，但是不可以說出要牽的牌是什麼牌。如果沒人使用【無懈可擊】，那麼就可以繼續使用。特別是在角色面前有延時錦囊時，對其使用【順手牽羊】的角色不能提前說出要牽的牌。

[Q]是否可以對沒有任何手牌、裝備牌或延時錦囊的角色使用【順手牽羊】？
[A]不可以。

[Q]是否可以對自己使用【順手牽羊】？
[A]不可以。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>閃電</string>
			<key>Type</key>
			<string>錦囊</string>
			<key>Info</key>
			<string>數量：2張
花色：♠ A  ♥ Q</string>
			<key>Detail</key>
			<string>出牌時機：出牌階段。
使用目標：你。
作用效果：將【閃電】橫置於目標角色判定區裡，目標角色回合判定階段，進行判定；若判定結果為黑桃2-9之間（包括黑桃2和9），則【閃電】對目標角色造成3點傷害，將閃電棄置。若判定結果不為黑桃2-9之間（包括黑桃2和9），將【閃電】移動到當前目標角色下家（【閃電】的目標變為該角色）的判定區。

★【閃電】的目標可能會不斷地進行改變，直到它生效。若它被抵消，則將它直接移動到下家的判定區裡（而不是判定後再移動）。
★【閃電】造成的傷害沒有來源。</string>
			<key>Qa</key>
			<string>[Q]是否可以在同一個角色面前放置多個【閃電】？
[A]不能。如果上一個【閃電】判定結束之後下家（按照行動順序）的判定區裡已經有【閃電】，那麼直接跳過下家傳給再下一家（按照行動順序）。

[Q]當自己的判定區裡有兩個或更多的延時錦囊時，如何判定？
[A]首先判定後放置的，然後再判定先放置的。

[Q]面前已經放置【閃電】的角色死亡之後，【閃電】如何處理？
[A]棄掉。

[Q]黃月英是否可以把【閃電】放置在其他角色面前？
[A]不能。【閃電】的使用對象是你自己。

[Q]【閃電】造成判定的角色死亡後，如何計算獎懲？
[A]閃電造成的傷害沒有來源。無論是目標角色自己翻開判定牌為黑桃2-9，還是其中有角色改了判定牌為黑桃2-9，閃電殺死的角色都視為被「天災」影響而死，不進行任何獎勵或者懲罰。神關羽被【閃電】殺死之後，根據之前已有的標記進行【武魂】結算，閃電沒有標記對象。

[Q]當使用【閃電】時，能否立刻使用【無懈可擊】？
[A]不能，必須到下一次自己回合的判定階段使用【無懈可擊】把閃電移動到下家的判定區。

[Q]閃電的傷害屬性是什麼？
[A]閃電造成的是雷電傷害，因此可以觸發連環。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>兵糧寸斷</string>
			<key>Type</key>
			<string>錦囊</string>
			<key>Info</key>
			<string>數量：2張
花色：♠ 10  ♣ 4</string>
			<key>Detail</key>
			<string>定義：出牌階段，對除你以外，與你距離為1以內的角色使用（橫置於該角色的判定區內）若其判定的結果不為梅花，則跳過該角色的摸牌階段。</string>
			<key>Qa</key>
			<string>[Q]能否對自己使用【兵糧寸斷】？
[A]不可以。

[Q]能否在同一個角色的判定區內放置多個【兵糧寸斷】？
[A]不能。

[Q]使用【兵糧寸斷】時，目標角色能否立即使用【無懈可擊】？
[A]不能，對延時錦囊的無懈可擊必須在回合判定階段且尚未開始判定前使用。 

[Q]判定區內同時有【閃電】、【樂不思蜀】和【兵糧寸斷】時，判定的順序如何決定？
[A]先判定後放置的延時錦囊，再依次判定其他延時錦囊。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>火攻</string>
			<key>Type</key>
			<string>錦囊</string>
			<key>Info</key>
			<string>數量：5張 
花色：♦ Q  ♥ 2  ♥ 3</string>
			<key>Detail</key>
			<string>出牌時機：出牌階段。
使用目標：任意有手牌的角色。
作用效果：目標角色展示1張手牌，若你棄置1張與之相同花色的手牌，則你對目標角色造成1點火焰傷害。</string>
			<key>Qa</key>
			<string>[Q]能否對沒有手牌的角色火攻？
[A]不能。 

[Q]能否對自己使用【火攻】？
[A]可以。但如果自己手中只有最後1張手牌【火攻】時，不能對自己火攻，因為不滿足錦囊的發動條件。 

[Q]火攻自己時，能否展示和棄置同一張手牌？
[A]可以。若如此做，則自己對自己造成1點火焰傷害，同時觸發相關的技能結算（例如奸雄、遺計、反饋、剛烈、狂骨、天香、以及鐵索連環的效果等） 

[Q]被火攻的目標角色展示了手牌之後，能否使用【無懈可擊】抵消火攻？
[A]不能。被火攻的目標展示手牌時視為錦囊已經開始結算。

[Q]被火攻的目標角色展示的手牌是否必須永久展示？
[A]不需要。在展示手牌給所有角色知曉後，這張牌可以收回手牌恢復不可見。 

[Q]被火攻的角色展示了手牌之後，火攻發動者能否棄一張與所展示的手牌不同花色的牌並且不造成傷害？
[A]不能。

[Q]使用火攻後，若結算時，目標角色已無手牌，如何處理？
[A]視為火攻失敗，已經打出的【火攻】不可收回。

[Q]陸遜使用最後一張手牌【火攻】之後，能否棄置連營獲得的手牌來造成傷害？
[A]可以。同理黃月英可以棄置集智獲得的手牌。 

[Q]對小喬火攻時，若小喬展示了一張黑桃手牌，則發動者應棄置紅桃手牌還是黑桃手牌？
[A]紅桃手牌，小喬的【紅顏】為鎖定技。類似地，小喬火攻其他角色時，若展示的手牌花色為黑桃，則小喬無法火攻成功。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>鐵索連環</string>
			<key>Type</key>
			<string>錦囊</string>
			<key>Info</key>
			<string>數量：6張 
花色：♠ J、♠ Q 
           ♣ 10、♣ J、♣ Q、♣ K</string>
			<key>Detail</key>
			<string>出牌時機：出牌階段。
使用目標：1、連環——任何目標
2、重鑄——自己
作用效果：連環，出牌階段使用，選擇1至2個角色，分別橫置或重置這些角色。處於「連環狀態」。
重鑄，出牌階段，你可以從手裡棄掉這張牌，然後摸1張牌。</string>
			<key>Qa</key>
			<string>[Q]黃月英發動【鐵索連環】的重鑄效果時，能否發動【集智】？
[A]不能。當你重鑄【鐵索連環】時，你並沒有使用它。

[Q]使用【鐵索連環】時，能否用無懈可擊抵消？
[A]重鑄【鐵索連環】不能被無懈可擊，當發動連環效果時，無懈可擊抵消其對某一角色的效果。

[Q]處於連環狀態的角色，受到傷害時如何結算？
[A]當連環狀態的角色受到普通傷害時（如普殺、決鬥、南蠻入侵、萬箭齊發等），正常結算，且不解除連環狀態。而當其受到屬性傷害時（火焰傷害：使用火殺命中，神周瑜的【業炎】技能或者火攻成功造成的傷害或雷電傷害：使用雷殺命中，張角的【雷擊】技能或者閃電造成的傷害），則從其開始觸發連環。該傷害按照行動順序，同屬性、同程度地依次傳導到每一個連環狀態的角色，同時這些角色重置，解除連環狀態。

[Q]當A與B處於連環狀態時，對C與D使用【鐵索連環】，那麼此4人是否處於同一連環狀態？
[A]是，當其中1個角色受到屬性傷害時，4人一同受到該傷害。 

[Q]連環狀態中的角色受到傷害發動相應技能時如何結算？
[A]剛烈、反饋等技能的對象均為傷害來源而非觸發連環的角色。當這些技能結算完畢後再結算下一個連環狀態的角色受到的屬性傷害。

[Q]場上只有1個角色處於連環狀態時，受到屬性傷害是否需要重置？
[A]需要。

[Q]處於連環狀態的小喬受到屬性傷害並發動【天香】，是否需要重置？
[A]不需要。小喬發動天香時不會觸發連環。 

[Q]處於連環狀態的小喬受到屬性傷害並天香給同在連環狀態下但尚未結算連環傷害的角色，如何處理？
[A]該角色受到屬性傷害，解除連環狀態，不再觸發連環並結算天香摸牌。隨後之前的連環傷害繼續結算。 

[Q]連環狀態的角色受到傳導的傷害死亡，由誰承擔獎懲？
[A]最初的傷害源頭。如果在結算獎懲時，傷害源頭已經死亡，則無人承擔獎懲。只要滿足遊戲結束條件出現，則中止結算，遊戲結束。

[Q]先鐵索連環AB，再鐵索連環CD，這時候ABCD是否在同個連環，還是在兩個連環？
[A]ABCD在同個連環，鐵索連環是一個狀態，而不是一條一條繩子，所以只要被鐵索連環影響而橫置身份牌的玩家全都處於同一個鐵索連環的狀態。

[Q]鐵索連環過程中，比如ABCD連環，如果A受到1點火屬性傷害，從而觸發連環，B有籐甲，CD沒有，這時BCD各受到多少傷害？
[A]在沒有其他條件的前提下，這時B受到1+1=2點火屬性傷害，CD仍然受到1點火屬性傷害，也就是說，鐵索連環中的玩家受到的傷害=第一個受傷害並觸發鐵索連環的玩家所收到的傷害+自己裝備可能發生的加成或者限制，跟自己的上家（非觸發者）沒有關係。

[Q]如果ABCD鐵索連環，B是小喬，A受到1點火屬性傷害，B天香給C，這時候各人的受傷害情況和武將牌狀態各在什麼時刻發生變化，最後是什麼狀態？
[A]這是A受到1點火屬性傷害，武將牌重置；B天香給C，C受到1點火屬性傷害，同時馬上重置武將牌，B因為自己沒有收到傷害，所以武將牌不重置，仍然處於鐵索連環狀態；C不會再受到A傳過來的鐵索連環傷害，因為被天香後已經重置；D仍然受到A引發的鐵索連環傷害，受到1點火屬性傷害。

[Q]可否對1個玩家鐵索連環？
[A]可以，比如先對A出鐵索連環，然後再對BC出一張鐵索連環，則ABC處於同個連環狀態。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>Name</key>
			<string>青釭劍</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：1張
花色：♠ 6</string>
			<key>Detail</key>
			<string>裝備類型：武器
攻擊範圍：2
武器特效：鎖定技，每當你使用【殺】時，無視目標角色的防具。
★對方的防具沒有任何效果。</string>
			<key>Qa</key>
			<string>[Q]裝備了【青釭劍】使用【殺】時，是否可以不發動【青釭劍】的技能？
[A]不可以，該技能為鎖定技。

[Q]裝備了【青釭劍】是否可以對裝備了【仁王盾】的角色用黑【殺】攻擊？對方是否需要出【閃】？
[A]可以，對方需要出【閃】。【青缸劍】的鎖定技是無視防具，同時也無視【仁王盾】的技能效果。

[Q]青釭劍的特效在其他造成傷害的方式結算時能否發動特效？
[A]不能。例如：裝備了【青釭劍】的角色使用萬箭齊發時，裝備【八卦陣】的角色可以判定出閃。

青釭劍啟動與終止的時機
殺成功指定目標後，效果開始。（如果目標是大喬，流離在先，被流離的目標是殺成功指定的目標）
目標對殺的響應結束----結束。（最終的結果有兩種，被閃抵消，或不出閃受到傷害）
從開始到結束之間視為目標角色沒有此防具般的進行結算

[Q]龐德裝青釭劍殺裝備白銀獅子的角色，殺被閃抵消後發動猛進棄掉白銀獅子是否回復體力。
[A]回復體力。被閃抵消後，青釭劍的效果結束。

[Q]裝備青釭劍殺張角，張角出閃發動雷擊，用裝備的白銀獅子發動鬼道，張角是否回復體力。
[A]不回復體力。張角發動雷擊是在閃結算前，此時仍處於青釭劍效果時間內。 

[Q]小喬與A連環，裝備青釭劍火殺籐甲小喬，天香連環中的A，傷害傳回給小喬，小喬不天香，受到幾點傷害。
[A]2點。青釭劍的效果結束，並且連環傳導的傷害相對獨立，只是來源、屬性、相同。 

[Q]太史慈裝青釭劍殺張角和A，A裝白銀獅子，張角出閃雷擊A，A受幾點傷害？
[A]2點。太史慈成功指定了兩個目標，他們的防具在青釭劍效果結束前一直無效。 

[Q]太史慈裝備青釭劍，殺主公曹操和帶八卦陣的郭嘉，曹操發動護駕，郭嘉能否判定八卦陣？
[A]不能。

[Q]張角裝備青釭劍，殺主公曹操，曹操裝備八卦陣。曹操發動護駕，魏將A判定八卦陣為紅色，張角發動鬼道用青釭劍改判定，改為黑色，魏將不再出閃。此時曹操還能否再判定八卦陣？
[A]不能。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>諸葛連弩</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：2張
花色：♦ A  ♣ A</string>
			<key>Detail</key>
			<string>裝備類型：武器
攻擊範圍：1
武器特效：出牌階段，你可以使用任意張【殺】。</string>
			<key>Qa</key>
			<string>[Q]在自己回合內，是否可以先使用【殺】，然後再裝備【諸葛連弩】繼續使用【殺】？
[A]可以。

[Q]發動諸葛連弩的特效出了多次【殺】之後，再替換其他武器，能否繼續出一次【殺】？
[A]不能。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>寒冰劍</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：1張
花色：♠ 2</string>
			<key>Detail</key>
			<string>裝備類型：武器
攻擊範圍：2
武器特效：當你使用【殺】造成傷害時，你可以防止此傷害，改為棄置該目標角色的兩張牌（棄完第一張再棄第二張）。</string>
			<key>Qa</key>
			<string>[Q]發動【寒冰劍】的技能時，可以拆掉目標角色的延時類錦囊嗎？
[A]不可以。發動【寒冰劍】技能只能棄掉目標角色裝備區的牌和手牌，棄牌結算過程如【過河拆橋】，但不能被【無懈可擊】。

[Q]發動【寒冰劍】的技能時，對方有2張以上的牌，可否只選擇棄掉1張？
[A]不可以。對方有2張以上的牌就必須棄掉2張。 

[Q]發動【寒冰劍】的技能時，對方只有1張或沒有牌時，如何處理？
[A]沒有牌時不能發動武器技能（即對方必須受到傷害），只有1張時可以發動，棄掉那1張牌。 

[Q]發動【寒冰劍】的技能時，司馬懿是否可以發動【反饋】？ 
[A]不能。因為司馬懿沒有受到傷害。類似的，發動【寒冰劍】技能時，【奸雄】，【遺計】，【剛烈】等受到傷害時才能發動的武將技能都不能發動。 

[Q]裝備了【寒冰劍】使用【殺】攻擊大喬時，大喬是否可以發動【流離】？
[A]可以，如果被【流離】的角色不出【閃】，那麼攻擊者可以選擇發動技能棄掉該角色兩張牌。

[Q]裝備了【寒冰劍】使用黑【殺】攻擊仁王盾時，是否可以發動技能？
[A]【殺】無效，因此不能發動技能。類似地，普殺攻擊籐甲也無法發動特效。

[Q]對裝備區裡僅有一張牌的孫尚香發動【寒冰劍】的技能時，如何結算？
[A]可以先棄掉對方的一個裝備，等孫尚香發動【梟姬】技能後，再棄掉對方的一張手牌。 

[Q]對僅有一張手牌的陸遜發動【寒冰劍】的技能棄掉其手牌時，如何結算？
[A]當發動【寒冰劍】技能棄掉陸遜最後一張手牌後，如果陸遜發動【連營】，則攻擊者需要再選擇棄掉陸遜裝備區的一張牌或者一張手牌；如果陸遜放棄發動【連營】，攻擊者需要再選擇棄掉陸遜裝備區的一張牌，如果陸遜裝備區無牌，則結算結束。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>貫石斧</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：1張
花色：♦ 5</string>
			<key>Detail</key>
			<string>裝備類型：武器
攻擊範圍：3
武器特效：目標角色使用【閃】抵消你使用【殺】的效果時，你可以棄兩張牌，則【殺】依然造成傷害。</string>
			<key>Qa</key>
			<string>[Q]發動【貫石斧】的技能時，是否可以棄掉自己裝備區裡的牌？
[A]可以，除了【貫石斧】本身。例如：孫尚香棄掉裝備發動貫石斧特效，可以發動【梟姬】。

[Q]裝備【貫石斧】使用【殺】攻擊曹操時，發動武器技能命中了曹操，曹操發動【奸雄】收什麼牌？
[A]收對曹操造成傷害的【殺】。 

[Q]裝備【貫石斧】的陸遜，發動武器技能，是否可以先棄掉一張手牌，發動【連營】，再棄掉一張發動【貫石斧】的技能？
[A]不能。因為棄兩張牌必須是同時棄掉。

[Q]發動【貫石斧】的技能攻擊距離為3角色時，是否可以棄掉已經裝備的一1【馬】來發動【貫石斧】的技能（即棄牌之後目標不在攻擊範圍內了）？
[A]可以。 

[Q]裝備【貫石斧】使用【殺】攻擊只有一張手牌為【閃】的諸葛亮時，諸葛亮出【閃】後進入空城狀態，是否可以發動【貫石斧】武器技能並造成諸葛亮的傷害？
[A]可以，因為諸葛亮已經成為【殺】的目標，在【貫石斧】技能發動後，諸葛亮要受到傷害。 

[Q]裝備【貫石斧】，攻擊張角，如何結算？
[A]如果張角使用了【閃】，可以發動【雷擊】。【雷擊】結算之後攻擊者（如果還存活）可以選擇是否棄牌強制命中。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>丈八蛇矛</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：1張
花色：♠ Q</string>
			<key>Detail</key>
			<string>裝備類型：武器
攻擊範圍：3
武器特效：當你需要使用（或打出）一張【殺】時，你可以將兩張手牌當一張【殺】使用（或打出）。</string>
			<key>Qa</key>
			<string>[Q]發動【丈八蛇矛】的技能時，是否可以使用自己面前的裝備牌？
[A]不可以。必須使用手牌。

[Q]發動【丈八蛇矛】的技能時，是否必須同時出兩張手牌？
[A]是的。

例如：陸遜如果只剩下一張手牌，則不可通過「打出該手牌後發動【連營】，再打出一張手牌」來發動丈八蛇矛的技能。

[Q]發動【丈八蛇矛】的技能時，打出的【殺】顏色如何界定？
[A]如2張牌為紅色，則視為紅色的【殺】；如2張牌為黑色，視為黑色的【殺】；如2張牌為1紅1黑，視為無色的【殺】。 

[Q]是否可以發動【丈八蛇矛】的技能響應【南蠻入侵】和【決鬥】？
[A]可以。

[Q]蜀國武將如果裝備了【丈八蛇矛】，是否可以發動【丈八蛇矛】的技能響應劉備的【激將】技能？
[A]可以。

[Q]當發動丈八蛇矛特效時，【殺】的屬性如何決定？
[A]無論兩張手牌分別是什麼，發動丈八蛇矛特效後均視為普殺。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>麒麟弓</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：1張
花色：♥ 5</string>
			<key>Detail</key>
			<string>裝備類型：武器
攻擊範圍：5
武器特效：你使用【殺】對目標角色造成傷害時，你可以將其裝備區裡的一匹馬棄置。</string>
			<key>Qa</key>
			<string>[Q]使用【殺】對目標角色造成傷害時，是否可以放棄發動【麒麟弓】的技能？
[A]可以。

[Q]發動【麒麟弓】的技能時，被攻擊命中的一方裝備了兩匹馬，棄馬由誰選擇? 
[A]由裝備了【麒麟弓】的角色選擇。 

[Q]發動【麒麟弓】的技能時，是先結算傷害還是先結算棄馬？
[A]先結算麒麟弓的武器技能，即先結算棄馬。

例如：裝備【麒麟弓】攻擊只有1點體力，裝備【+1馬】的孫尚香，孫尚香沒有【閃】，則先由裝備【麒麟弓】的角色選擇是否發動武器技能，若發動，則先棄掉孫尚香的【馬】（此時可以發動【梟姬】），然後孫尚香進入瀕死狀態。注意：即使孫尚香發動【梟姬】摸上來一張【閃】也不可以在此刻打出【閃】來抵消【殺】的效果。

[Q]發動麒麟弓的特效攻擊小喬，小喬發動【天香】，誰棄馬？
[A]小喬。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>雌雄雙股劍</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：1張
花色：♠ 2</string>
			<key>Detail</key>
			<string>裝備類型：武器
攻擊範圍：2
武器特效：你使用【殺】時，指定了一名異性角色後，在【殺】結算前，你可以令對方選擇一項：自己棄一張手牌或者讓你從牌堆摸一張牌。</string>
			<key>Qa</key>
			<string>[Q]發動【雌雄雙股劍】的技能時，是看玩家的性別還是看玩家使用的遊戲角色的性別？
[A]看遊戲角色的性別。

[Q]發動【雌雄雙股劍】的技能時，由誰來決定是攻擊者摸牌還是被攻擊者棄牌？
[A]被攻擊者。

[Q]發動【雌雄雙股劍】的技能時，被攻擊者是否可以棄裝備牌或者延時錦囊牌？
[A]不能。

[Q]發動【雌雄雙股劍】的技能時，如果被攻擊者沒有手牌，如何結算？
[A]攻擊者摸一張牌。

[Q]發動【雌雄雙股劍】的技能時，如果攻擊對象是大喬，且大喬發動【流離】，如何結算？
[A]武器技能發動在【流離】之後，即大喬發動【流離】後，若滿足發動條件則由被【流離】的目標角色承擔武器效果。例如：裝備【雌雄雙股劍】攻擊大喬，首先大喬選擇選擇是否發動【流離】，若發動則由攻擊者選擇是否對新目標發動技能，然後被【流離】者出【閃】，若大喬不發動【流離】則由大喬承擔武器效果。

[Q]裝備【雌雄雙股劍】使用黑【殺】攻擊仁王盾時是否可以發動技能？
[A]可以用黑【殺】攻擊，能發動技能，但是【殺】無效。類似地，普殺攻擊籐甲也能發動特效，但是殺無效。

[Q]裝備【雌雄雙股劍】使用【殺】攻擊一名異性角色時，是否可以不發動【雌雄雙股劍】的技能？
[A]可以。 

[Q]馬超和黃忠裝備【雌雄雙股劍】使用【殺】指定一名異性角色為目標後，如何結算?
[A]先發動武將技能，後發動武器技能。

例如：馬超對黃月英使用【殺】，馬超選擇發動【鐵騎】，判定為紅桃，此時黃月英再選擇是自己棄手牌還是讓馬超從牌堆摸一張牌，之後黃月英受到傷害。 

[Q]女性角色裝備【雌雄雙股劍】對只有一張手牌的諸葛亮使用【殺】，若諸葛亮選擇棄牌，如何結算？
[A]諸葛亮的空城狀態不能成為【殺】的目標，但是當已經成為【殺】的目標（即使是在結算過程中進入空城狀態）時，則正常結算【殺】，即諸葛亮受到傷害。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>方天畫戟</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：1張
花色：♦ Q</string>
			<key>Detail</key>
			<string>裝備類型：武器
攻擊範圍：4
武器特效：當你使用的【殺】是你的最後一張手牌時，你可以為這張【殺】指定至多三名目標角色，然後按行動順序依次結算之。</string>
			<key>Qa</key>
			<string>[Q]發動【方天畫戟】的技能時，是否可以只攻擊一名或者兩名角色？
[A]可以。

[Q]發動【方天畫戟】的技能時，如果【方天畫戟】被【反饋】或者攻擊者被【剛烈】或者【雷擊】等技能致死後，是否繼續結算？
[A]是。除非滿足遊戲結束的條件。

[Q]發動【方天畫戟】技能時，諸葛亮是殺的目標之一，但是輪到諸葛亮結算時他成為【空城】狀態，此時如何結算？
[A]【空城】狀態的諸葛亮不能成為殺的目標，對於已經成為目標的情況下，正常結算，諸葛亮受到該殺的傷害。

[Q]發動【方天畫戟】的技能時，大喬是【方天畫戟】的攻擊對像之一，她發動【流離】技能將【殺】的目標轉移給另一個被【方天畫戟】攻擊的角色時，如何結算？
[A]被【流離】的角色視為受到先後兩張【殺】的攻擊。注意，大喬必須在成為【殺】指定的目標時即刻發動流離，而不是在【殺】結算到大喬時才發動。同時，如果這個例子中大喬【流離】的對象是曹操，且曹操受到兩次傷害，也只能發動【奸雄】收那一張【殺】。

例如：一名角色發動【方天畫戟】技能，攻擊ABC（按行動順序），C為大喬，在該角色使用【殺】時，大喬就要先選擇是否流離，如果A已經開始結算，則大喬不能再發動【流離】。

[Q]無手牌的劉備裝備了【方天畫戟】，如果劉備【激將】使用【殺】是否可以發動【方天畫戟】的技能？
[A]不能，發動【方天畫戟】的技能條件必須是使用自己最後一張手牌。

[Q]夏侯淵發動【神速】，裝備了【方天畫戟】並且打出自己手中的最後一張手牌是裝備牌，能否發動特效？
[A]不可以。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>青龍偃月刀</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：1張
花色：♠ 5</string>
			<key>Detail</key>
			<string>裝備類型：武器
攻擊範圍：3
武器特效：當你使用的【殺】被【閃】抵消時，你可以立即對相同的目標再使用一張【殺】直到【殺】生效或你不願意出了為止。</string>
			<key>Qa</key>
			<string>[Q]發動【青龍偃月刀】的技能時，是否可以在一個結算過程中對不同的目標發動？
[A]不能，只能對同一個目標使用武器技能，並且中間不能使用別的遊戲牌，例如【酒】、【無中生有】、【順手牽羊】或【五穀豐登】等。 

[Q]發動【青龍偃月刀】的技能時，是否可以在使用的兩個【殺】中間插入發動武將的技能？
[A]可以插入發動滿足發動條件的武將技能，例如連營、流離等。

例如：裝備【青龍偃月刀】對陸遜使用【殺】，陸遜打出最後一張手牌為【閃】，可以發動【連營】，如果摸到的手牌是【閃】，陸遜可以繼續出【閃】。
例如：裝備【青龍偃月刀】對大喬使用【殺】，大喬打出一張【閃】，此時如果對大喬再使用一張【殺】，大喬可以再選擇是否發動【流離】。 

[Q]裝備【青龍偃月刀】使用【殺】攻擊大喬時，如果大喬【流離】的對象打出【閃】，繼續發動武器技能時使用【殺】的目標是誰？
[A]誰打出【閃】則為發動技能時使用【殺】的目標。

[Q]裝備【青龍偃月刀】使用殺後，目標在攻擊範圍外，是否可以追殺？像
[A]可以，【青龍偃月刀】追殺時不檢驗距離。

例如：對大喬使用【殺】，大喬「流離」，被流離的角色使用了【閃】，即使目標此時在裝備【青龍刀】角色的攻擊範圍外，也可以追殺。
例如：關羽裝備【青龍刀】和【赤兔-1馬】對距離3的角色使用【殺】（即不裝備-1馬時距離為4），對方使用【閃】後，可以「武聖」-1馬追殺。
例如：夏侯淵「神速」距離3以上的角色，目標使用【閃】，可以發動【青龍刀】用手牌【殺】。

[Q]裝備【青龍偃月刀】使用【殺】攻擊曹操時，如果發動技能使用了多張【殺】後曹操受到傷害，曹操發動【奸雄】時收哪張【殺】？
[A]收最後一張【殺】。

[Q]裝備【青龍偃月刀】使用【殺】攻擊諸葛亮時，如果諸葛亮打出【閃】後沒有手牌，攻擊者是否可以繼續使用【殺】？
[A]不可以，諸葛亮進入【空城】狀態後不可再成為【殺】的目標。

[Q]裝備【青龍偃月刀】攻擊張角，如何結算？
[A]張角出一次閃，可以發動一次【雷擊】。

[Q]裝備【青龍偃月刀】並使用【酒】後出殺攻擊其他角色，若對方出閃，繼續出殺命中後對方受到多少傷害？
[A]酒的傷害效果只對第一張殺有效，因此後續的殺命中後不造成額外傷害。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>古錠刀</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：1張
花色：♠ A</string>
			<key>Detail</key>
			<string>武器類型：武器
攻擊範圍：2 
裝備效果：鎖定技，當你使用的【殺】造成傷害時，若指定目標沒有手牌，則該傷害+1。</string>
			<key>Qa</key>
			<string>[Q]裝備【古錠刀】使用火殺或雷殺觸發連環時，若連環傷害傳導的某個角色沒有手牌，是否會受到+1傷害？
[A]不會。

[Q]裝備【古錠刀】殺無手牌的大喬，大喬流離後目標角色受到的傷害是否+1？
[A]不會。因為該殺的目標不是大喬。若流離的目標沒有手牌，則傷害+1。

[Q]裝備【古錠刀】殺小喬，小喬天香給無手牌的角色，是否傷害+1？
[A]否。

[Q]裝備【古錠刀】殺裝備【八卦陣】無手牌的郭嘉，郭嘉判定為黑色並且天妒收入手牌。此時是否受到+1傷害？
[A]不受，因為此時郭嘉有手牌。類似地，張角同理。 

[Q]呂布裝備【古錠刀】對手牌為1張【閃】的張角使用【殺】，張角發動【雷擊】導致呂布死亡，張角受幾點傷害？
[A]1點。因結算傷害時呂布已經死亡，【古錠刀】棄置，技能不可發動。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>仁王盾</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：1張
花色：♣ 2</string>
			<key>Detail</key>
			<string>裝備類型：防具
防具效果：鎖定技，黑色的【殺】對你無效。 </string>
			<key>Qa</key>
			<string>[Q]裝備【仁王盾】時，是否可以放棄發動【仁王盾】的技能？
[A]不可以，該技能為鎖定技。 

[Q]使用黑【殺】攻擊裝備【仁王盾】的角色如何結算？
[A]黑【殺】無效，置入棄牌堆。被攻擊的角色不可出【閃】。 

[Q]使用黑【殺】攻擊裝備【仁王盾】的角色無效後，是否可以繼續對其或其他角色使用【殺】？
[A]不能，雖然該【殺】無效，但攻擊者仍算做本回合使用過一張【殺】。除非裝備了【諸葛連弩】或者張飛使用【咆哮】技能。

[Q]決鬥時，能否發動仁王盾的特效？
[A]不能。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>八卦陣</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：2張
花色：♣ 2  ♠ 2</string>
			<key>Detail</key>
			<string>裝備類型：防具
防具效果：每當你需要使用（或打出）一張【閃】時，你可以進行一次判定：若結果為紅色，則視為你使用（或打出）了一張【閃】；若為黑色，則你仍可從手牌裡使用（或打出）。
★由八卦使用或打出的【閃】，並非從你的手牌中使用或打出。</string>
			<key>Qa</key>
			<string>[Q]滿足【八卦陣】技能發動條件時，是否可以放棄發動【八卦陣】的技能？
[A]可以。

[Q]發動【八卦陣】的技能時，使用（或打出）的【閃】顏色如何界定？
[A]視為無色。

[Q]魏國武將如果裝備了【八卦陣】，可否在曹操主公發動【護駕】技能時，發動【八卦陣】的技能為其出【閃】？
[A]可以。

[Q]呂布如果使用【殺】攻擊裝備【八卦陣】的角色，如何結算？
[A]被攻擊的角色可以選擇先發動【八卦陣】的技能，需要看第一次判定結果：1、如果為紅色，則可以發動第二次；2、如果為黑色，必須從手牌中使用1張【閃】後，才可以發動第二次，否則不能再發動【八卦陣】的技能。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>白銀獅子</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：1張
花色：♣ A </string>
			<key>Detail</key>
			<string>裝備類型：防具
裝備效果：鎖定技，每次你受到傷害時，最多承受1點傷害（防止多餘的傷害）；當你失去裝備區裡的白銀獅子時，你回復1點體力值。</string>
			<key>Qa</key>
			<string>[Q]白銀獅子在手牌中失去時，能否發動回復效果？
[A]不能。

[Q]滿體力值時失去裝備區裡的白銀獅子能否發動回復效果？
[A]不能。 

[Q]用其他防具替換裝備區裡的白銀獅子時能否發動回復效果？
[A]可以。能發動白銀獅子回復效果的情況有：順手牽羊或過河拆橋失去此裝備，替換防具，制衡，反饋，貫石斧，寒冰劍，神速，流離，離間，奇襲，鬼道，主公殺死忠臣等。 

[Q]小喬發動【天香】把超過1點的傷害轉移給裝備【白銀獅子】的角色，其受到幾點傷害？
[A]1點。 

[Q]裝備【白銀獅子】的角色受到屬性傷害並觸發連環，其他連環狀態的角色受到幾點傷害？
[A]1點（籐甲除外）。 

[Q]裝備【青釭劍】使用【酒】後出殺攻擊裝備【白銀獅子】的角色時，能否造成多於1點的傷害？
[A]可以。 

[Q]裝備【青釭劍】對裝備【白銀獅子】的角色使用其他攻擊或傷害手段時，能否造成多於1點的傷害？
[A]不可以。例如天香或者裸衣決鬥等。 

[Q]失去裝備區裡的白銀獅子時能否放棄回復體力？
[A]不能。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>籐甲</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：2張
花色：♠ 2  ♣ 2</string>
			<key>Detail</key>
			<string>裝備類型：防具
裝備效果：鎖定技，南蠻入侵、萬箭齊發和普通殺對你無效。每次受到火焰傷害時，該傷害+1。</string>
			<key>Qa</key>
			<string>[Q]裝備了【籐甲】結算決鬥時，對方所打出的普殺是否有效？
[A]有效。

[Q]裝備【青釭劍】使用火殺攻擊裝備【籐甲】的角色成功時，該角色受到多少傷害？
[A]青釭劍無視防具，不發動+1傷害的效果。

[Q]裝備【青釭劍】對裝備【籐甲】的角色火攻成功時，是否發動籐甲的+1火焰傷害效果？
[A]發動。青釭劍無視防具的效果對殺以外的結算無效。

[Q]2個裝備了【籐甲】的連環狀態的角色，其中之一受到1點火焰時，另一方受到幾點傷害？
[A]3點。

[Q]張角裝備了【籐甲】在結算萬箭齊發或者普殺時能否主動出【閃】？
[A]不能。鎖定技強制發動。籐甲的普殺無效與仁王盾黑殺無效處理原則相同。類似地，小喬不能主動棄牌發動天香，曹操不能發動奸雄等。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>朱雀羽扇</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：1張
花色：♦ A </string>
			<key>Detail</key>
			<string>裝備類型：武器
攻擊範圍：4 
裝備效果：你可以將你的任一普通殺當作具火焰傷害的殺來使用。</string>
			<key>Qa</key>
			<string>[Q]發動朱雀羽扇特效，能否將雷殺當火殺使用？
[A]不能。朱雀羽扇只能改變普殺的屬性。 

[Q]發動武將技能所使用的殺能否發動朱雀羽扇的效果？
[A]不可以。武聖、龍膽不可以二次變化。

[Q]能否放棄發動朱雀羽扇的效果？
[A]可以。該效果非鎖定技。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>絕影</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：1張</string>
			<key>Detail</key>
			<string>【+1馬】：其他角色計算與你的距離時，始終+1（你可以理解為一種防禦上的優勢），不同名稱的+1馬，其效果是相同的。 </string>
			<key>Qa</key>
			<string>[Q]能否裝備兩匹馬？
[A]能，但僅限於一匹-1馬和一匹+1馬。 

[Q]馬的效果能否放棄發動？
[A]不能，視為始終有效。 

[Q]裝備了馬(+1或-1)後自己與自己的距離是多少？
[A]始終視為0。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>的盧</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：1張</string>
			<key>Detail</key>
			<string>【+1馬】：其他角色計算與你的距離時，始終+1（你可以理解為一種防禦上的優勢），不同名稱的+1馬，其效果是相同的。 </string>
			<key>Qa</key>
			<string>[Q]能否裝備兩匹馬？
[A]能，但僅限於一匹-1馬和一匹+1馬。 

[Q]馬的效果能否放棄發動？
[A]不能，視為始終有效。 

[Q]裝備了馬(+1或-1)後自己與自己的距離是多少？
[A]始終視為0。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>爪黃飛電</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：1張</string>
			<key>Detail</key>
			<string>【+1馬】：其他角色計算與你的距離時，始終+1（你可以理解為一種防禦上的優勢），不同名稱的+1馬，其效果是相同的。 </string>
			<key>Qa</key>
			<string>[Q]能否裝備兩匹馬？
[A]能，但僅限於一匹-1馬和一匹+1馬。 

[Q]馬的效果能否放棄發動？
[A]不能，視為始終有效。 

[Q]裝備了馬(+1或-1)後自己與自己的距離是多少？
[A]始終視為0。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>驊騮</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：1張
花色：♦ K</string>
			<key>Detail</key>
			<string>【+1馬】：其他角色計算與你的距離時，始終+1（你可以理解為一種防禦上的優勢），不同名稱的+1馬，其效果是相同的。 </string>
			<key>Qa</key>
			<string>[Q]能否裝備兩匹馬？
[A]能，但僅限於一匹-1馬和一匹+1馬。 

[Q]馬的效果能否放棄發動？
[A]不能，視為始終有效。 

[Q]裝備了馬(+1或-1)後自己與自己的距離是多少？
[A]始終視為0。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>赤兔</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：1張</string>
			<key>Detail</key>
			<string>【-1馬】：你計算與其他角色的距離時，始終-1（你可以理解為一種進攻上的優勢）,不同名稱的-1馬，其效果是相同的。</string>
			<key>Qa</key>
			<string>[Q]能否裝備兩匹馬？
[A]能，但僅限於一匹-1馬和一匹+1馬。 

[Q]馬的效果能否放棄發動？
[A]不能，視為始終有效。 

[Q]裝備了馬(+1或-1)後自己與自己的距離是多少？
[A]始終視為0。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>紫騂</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：1張</string>
			<key>Detail</key>
			<string>【-1馬】：你計算與其他角色的距離時，始終-1（你可以理解為一種進攻上的優勢）,不同名稱的-1馬，其效果是相同的。</string>
			<key>Qa</key>
			<string>[Q]能否裝備兩匹馬？
[A]能，但僅限於一匹-1馬和一匹+1馬。 

[Q]馬的效果能否放棄發動？
[A]不能，視為始終有效。 

[Q]裝備了馬(+1或-1)後自己與自己的距離是多少？
[A]始終視為0。</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>大宛</string>
			<key>Type</key>
			<string>裝備</string>
			<key>Info</key>
			<string>數量：1張</string>
			<key>Detail</key>
			<string>【-1馬】：你計算與其他角色的距離時，始終-1（你可以理解為一種進攻上的優勢）,不同名稱的-1馬，其效果是相同的。</string>
			<key>Qa</key>
			<string>[Q]能否裝備兩匹馬？
[A]能，但僅限於一匹-1馬和一匹+1馬。 

[Q]馬的效果能否放棄發動？
[A]不能，視為始終有效。 

[Q]裝備了馬(+1或-1)後自己與自己的距離是多少？
[A]始終視為0。</string>
		</dict>
	</array>
</array>
</plist>
